html {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 6rem;
}

header h1 {
    color: blue;
    text-align: justify;
    float: left;
    margin: 5px;
    position: relative;
    left: 150px;
    top: 25px;
}

header a {
    text-decoration: none;
    float: right;
    margin: 15px;
    position: relative;
    width: 4rem;
    right: 200px;
    top: 30px;
}

header button{
    background-color: blue;
    padding: 0.8rem;
    color: white;
    float: right;
    margin: 2px;
    position: relative;
    right: 120px;
    top: 30px;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    border-radius: 5px;
}

article {
    background-image: url(../Imagenes/Vacunacion/fondo-blanco.webp);
    height: 600px;
}

article h1 {
    text-align: justify;
    margin: 5px;
    position: relative;
    left: 150px;
    top: 75px;
}

article p {
    text-align: justify;
    position: relative;
    left: 120px;
    top: 100px;
}

article img {
    float: right;
    background: blue;
    width: 50%;
    position: relative;
    height: 600px;
}

.parrafo {
    text-align: justify;
    position: relative;
    left: 0px;
    top: 100px;
    padding: 0.5rem;
    float:left;
}

.icons {
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    float: left;
}

.programa {
    text-align: justify;
    position: relative;
    padding: 0.5rem;
    left: 120px;
    top: 245px;
    float: left;
    
}

.tabla {
    text-align: center;
    background: white;
    background-color: rgba(255,255,255,0.85);
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    border-radius: 5px;
    position: relative;
    width: 50%;
    padding: 2rem;
    left: 150px;
    top: 260px;
}

.icontab{
    background-color: transparent;
    width: 20px;
    height: 20px;
    float: left;
}

.boton {
    background-color: blue;
    padding: 0.8rem;
    color: white;
    float: right;
    margin: 2px;
    width: 100px;
    position: relative;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    border-radius: 5px;
    top: 15px;
}

.marcas {
    box-shadow: rgba(0,0,0,0.3);
    width: 95%;
    margin: 0 auto;
    padding: 6rem;
}

.logos {
    width: 200px;
    height: 80px;
}

.vacunar {
    text-align-last:left;
    margin-left: 150px;
    padding: 1rem;
    
}

.logotabla {
    background-color: transparent;
    width: 50px;
    height: 50px;
    float: left;   
}

.marcas th, td {
    text-align: left;
    padding: 1rem;
}

.preparativos {
    text-align: left;
    float: right;

}

.preparativos h1, p {
    margin: 1rem;
    padding: 1rem;
}

div img {
    background-color: blue;
    width: 50%;
    height: 700px;
    position: relative;
}

li {
    list-style-type: none;
    height: 100px;
}

li img, a {
    background-color: transparent;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}